---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Stats from "../components/Stats.astro";
import Products from "../components/Products.astro";
import Story from "../components/Story.astro";
import News from "../components/News.astro";
import PartnerSection from "../components/PartnerSection.astro";
---

<Layout title="Trang chủ - One One">
    <div class="bg-[#fff5e5] min-h-screen">
        <Hero />
        <Stats />
        <Products />
        <Story />
        <News />
        <PartnerSection />
    </div>
</Layout>
